

.result_part{
    align-items: center;
  
    border: 1px solid #00acee;
    
    padding: 3% 10%;
    box-shadow: 8px 8px 24px #00abee42;
    margin: 3% 10%;
  }
  
  
  
  
  
  
  
  
  .input_part label,table1 td{
  font-weight: bold;
  }
  
  
  .form_content div {
    margin-bottom: 15px;
  }
  
  
  .critere_titre{
    text-align: center;
    justify-content: center;
    display: flex;
  align-items: center; 
  gap: 20px; 
  
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0;
  }
  
  
  table th, td {
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  
  
  
  input[type="number"], input[type="text"] {
    width: 70px;
    padding: 5px;
    
    text-align: center;
  }
  
  .table2 input[type="checkbox"] ,.table3 input[type="checkbox"]{
    transform: scale(1.2);
    margin-right: 10px;
  }
  
  table label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 8px;
    font-weight: bold;
  }
  
  input[type="checkbox"] + label {
    margin-left: 5px;
    
  }
  
  td input[type="number"]::placeholder, 
  td input[type="text"]::placeholder {
    font-size: 12px;
    color: #999;
  }
  
  td:first-child {
    text-align: left;
  }
  
  td:nth-child(2) {
    width: 150px;
  }
  
  td:nth-child(3) {
    width: 80px;
  }
  
  
  
  
  table input[type="number"] {
    width: 80px;
  }
  button{ background-color: #45c1e3;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;}
  button {
    margin-bottom: 10px;
  }
  
  
  
  
  
   
